.footer {
    background-color: black;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footerText {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}